.warna1 {
    background-color: #31c21e;
}

.jarakatas {
    margin-top: 10px;
}

.KLAS {
    font-family: monospace;
}

.ORDER66 {
    background-color: rgb(73, 71, 82);
}

.ORDER65 {
    height: 240px;
}